@import '../../../styles/color';
$background-color: $grey-900;
$light-background-color: $grey-800;
$text-primary-color: $grey-50;
$text-secondary-color: $grey-500;

.image-wall {
  .image-wall-row {
    .image-wall-item {
      display: inline-block;
      height: 100px;
      margin: 25px 15px;
      width: 100px;

      .image-wrapper {
        border: 2px solid white;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  /* The Modal (background) */
  .image-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: block;

    /* close, left arrow, and right arrow buttons */
    .symbol-btn {
      color: $text-secondary-color;
      height: 22px;
      margin: 10px;
      text-align: center;
    }
    .symbol-btn:hover, .symbol-btn:focus {
      cursor: pointer;
    }

    .left-tool-box {
      .left-arrow {
        @extend .symbol-btn;
        font-size: 40px;
        line-height: 22px;
      }
    }

    .modal-content {
      /* modal content (image) */
      .modal-content-image {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .right-tool-box {
      /* the close button */
      .close {
        @extend .symbol-btn;
        font-size: 40px;
        line-height: 18px;
        transition: 0.5s;
      }
      .close:hover, .close:focus {
        transform: rotate(90deg);
      }

      /* the right arrow button */
      .right-arrow {
        @extend .symbol-btn;
        font-size: 40px;
        line-height: 22px;
      }

      .placeholder {
        height: 42px; /* the close btn takes 42px */
        width: 100%;
      }
    }
  }
}
