<div class="image-wall" [ngStyle]="styleImageWall()">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
    <div *ngFor="let image of images; let $i = index;" class="image-wall-item" fxLayoutAlign="center center">
      <img [src]="image.thumbnail" alt="特别的你" class="image-wrapper" [ngStyle]="styleImageWallItem()" (click)="popupImageModal($i)">
    </div>
  </div>

  <!-- image modal -->
  <div *ngIf="popupImageIdx >= 0" class="image-modal" fxLayout="row" fxLayoutAlign="space-between stretch">
    <!-- left tool box -->
    <div class="left-tool-box" fxFlex="8" fxLayout="column" fxLayoutAlign="center center">
      <!-- The left arrow button -->
      <span *ngIf="popupImageIdx > 0" class="left-arrow" (click)="moveToLastImage()">&larr;</span>
    </div>

    <!-- modal content -->
    <div class="modal-content" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img [src]="images[popupImageIdx].path" class="modal-content-image">
      <!-- modal caption (image text) -->
      <!--<div id="caption"></div>-->
    </div>

    <!-- right tool box -->
    <div class="right-tool-box" fxFlex="8" fxLayout="column" fxLayoutAlign="space-between center">
      <!-- the close button -->
      <span class="close" (click)="closeModal()">&times;</span>
      <!-- the right arrow button -->
      <span *ngIf="popupImageIdx < images.length-1" class="right-arrow" (click)="moveToNextImage()">&rarr;</span>
      <!-- the placeholder to make the right arrow btn to be center -->
      <span class="placeholder"></span>
    </div>
  </div>
</div>
