@import '../../styles/color';
$background-color: $grey-900;
$light-background-color: $grey-800;
$text-primary-color: $grey-50;
$text-secondary-color: $grey-500;

.anniversay2016 {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  overflow: auto;
  height: auto;
  width: auto;
  background-color: $background-color;

  .front-page {
    min-height: 100vh;
    min-width: 100vm;

    .letter-header {
      color: $text-primary-color;
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 4px;
      margin: 15px;
    }
  }

  .image-wall-page {
    min-height: 100vh;
    min-width: 100vm;

    .season-selection {
      position: fixed;
      width: 100%;
      overflow: hidden;
      z-index: 1;

      /* Float the list items side by side */
      .selection-tab {
        background-color: $light-background-color;
        border: 0;
        color: $text-secondary-color;
        font-size: 17px;
        height: 48px;
        line-height: 20px;
        padding: 14px 16px;
        transition: 0.3s;
      }

      /* Change background color of links on hover */
      :hover, :focus {
        color: $light-background-color;
        background-color: $text-secondary-color
      }

      /* Create an active/current class */
      .active {
        color: $text-primary-color;
        background-color: $background-color;
      }
    }

    .image-wall {
      margin-top: 48px;
    }
  }
}
