<div class="home" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="80px"
     fxLayoutAlign.xs="space-around stretch" fxLayoutGap.xs="20px">
  <div class="home-logo" fxFlexAlign="center">B1UESKY</div>

  <div class="slogan" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
    <span>{{sloganShow[0]}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
    <span>{{sloganShow[1]}}&nbsp;</span>
    <span><span class="slogan-highlight">{{sloganShow[2]}}</span>{{sloganShow[3]}}</span>
    </div>
  </div>

  <div class="nav-bar" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <!-- navigation for site -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayoutGap.xs="15px">
      <a href="/" class="active-tab">HOME</a>
      <!--<a href="/">BLOG</a>-->
      <!--<a href="/">ABOUT ME</a>-->
      <a href="{{resume}}" target="_blank">RESUME</a>
    </div>
    <!-- navigation for others -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <a href="https://www.github.com/B1ueSky" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/luoty/" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
