/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

body {
  height: 100vh;
  width: 100vm;
}

.position-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
